<header>
  <app-load></app-load>

  <form #searchForm="ngForm" class="search" (ngSubmit)="onSearch(titleS.value, nameS.value); searchForm.resetForm()">
      <div class="search_title">
        <input ngModel type="text" placeholder="название фильма" name="title" #titleS />
      </div>
    <div class="search_name">
      <input ngModel type="text" placeholder="имя актера" name="name" #nameS/>
    </div>
      <div class="search_button">
        <input id="button" type="submit" value="Поиск">
      </div>
  </form>

  <form #addForm="ngForm"  ngNativeValidate class="add" (ngSubmit)="onAdd(title.value, year.value, format.value, name.value); addForm.resetForm()">
    <div class="add_title">
      <input type="text" placeholder="название фильма" #title required ngModel name="title" />
    </div>
    <div class="year">
      <input id="year" type="number" placeholder="год выпуска" min="1850" max="2020" required #year ngModel name="year" />
      <select #format ngModel name="format" required>
        <option value="VHS">VHS</option>
        <option value="DVD">DVD</option>
        <option value="Blu-Ray">Blu-Ray</option>
      </select>
    </div>
    <div class="add_actors" >
      <input type="text" placeholder="актеры" required #name ngModel name="stars"/>
    </div>
    <div class="add_button">
      <input id="add_button" type="submit" value="Добавить">
    </div>
  </form>
</header>

<div class="body">
  <ul class="movie_list" *ngFor="let movie of movies">
      <dl>
        <div>
        <div class="title">{{movie.title}}</div>
        <div class="format">{{movie.format}}</div>
        <div class="year">{{movie.year}}</div>
          <div class="delete" (click)="reallyDelete(movie)">X</div>
        <div class="stars">{{movie.stars}}</div>
      </div>
      </dl>

  </ul>

</div>

<div [hidden]="deleteWindow" class="really_delete">
  <div class="really">
    Вы действительно хотите удалить фильм {{movieToDelete ? movieToDelete.title : ''}}?
    <button class="yes" (click)="deleteMovie(movieToDelete)">Yes</button>
    <button class="no" (click)="hideDeleteWindow()">No</button>
  </div>
</div>




<router-outlet></router-outlet>
